<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/reg">Register</a>
      <a href="/login">Login</a>
    </div>
  </head>
  <body>
    <form method="post">
        Account:<br>
        <input type="text" name="account" ><br>
        Password:<br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Login">Login</button>
    </form>
  </body>
</html>
