<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
      <form method="post">
        Account:<br>
        <input type="text" name="account"><br>
        Password:<br>
        <input type="text" name="password">
        <button type="submit" value="Submit">
      </form>

  </body>
</html>