<!DOCTYPE html>
<html>
  <head>
    <title><%= account %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Account : <%= account %></h1>
    <h1>Password : <%= password %></h1>
  </body>
</html>